<div id="sticky-footer">
  <footer class="pt-1 my-2">
    <p class="text-center text-light">© 2024 <%= link_to "Faaiz Ahmad", "https://faaizahmad6420.github.io/website/", class: "text-light" %></p>
  </footer>
</div>
